In [4]:
#Student is class
# s1 and s2 are objects of Student Class
class Student:
  name = "Israr"
  age = 55

s1 = Student()
print(s1.name)
print(s1.age)

s2 = Student()
print(s2.name)
print(s2.age)

Israr
55
Israr
55

In [6]:
class Student:
  name = "Israr"
  age = 55

  def introduce(self):
    print("My name is " + Student.name + " and I am " + str(Student.age) + " years old.")

s1 = Student()
s1.introduce()

My name is Israr and I am 55 years old.

In [9]:
class Student:
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def introduce(self):
    print(f"My name is {self.name} and I am {self.age} years old.")

  def changeName(self, newname):
    self.name = newname

s1 = Student("Israr",55)
s1.introduce()

s2 = Student("hania", 5)
s2.introduce()

s3 = Student("Roomesa", 12)
s3.introduce()

s1.changeName("Dr. Israr")
s1.introduce()

My name is Israr and I am 55 years old.
My name is hania and I am 5 years old.
My name is Roomesa and I am 12 years old.
My name is Dr. Israr and I am 55 years old.

In [13]:
class BankAccount:
  def __init__(self, account_number, balance):
    self.account_number = account_number
    self.balance = balance

  def deposit(self, amount):
    self.balance += amount   # self.balance = self.balance + amount
    print(f"Deposited {amount}Rs. New balance: {self.balance}Rs")

  def withdraw(self, amount):
    if self.balance >= amount:
      self.balance -= amount
    else:
      print("Insufficient funds")
    print(f"Withdrew {amount}Rs. New balance: {self.balance}Rs")

  def get_balance(self):
    print(f"Account number: {self.account_number} balance is {self.balance}Rs")

ba1 = BankAccount("123456789", 1000)
ba1.deposit(500)
ba1.withdraw(200)
ba1.get_balance()

Deposited 500Rs. New balance: 1500Rs
Withdrew 200Rs. New balance: 1300Rs
Account number: 123456789 balance is 1300Rs

In [14]:
class BusTicket:
  def __init__(self, name, age, destination):
    self.name = name
    self.age = age
    self.destination = destination

  def print_ticket(self):
    print(f"Name: {self.name} Age: {self.age} Destination: {self.destination}")

ticket1 = BusTicket("John", 12, "Nairobi")
ticket1.print_ticket()

ticket2 = BusTicket("Jane", 18, "Mombasa")
ticket2.print_ticket()

ticket3 = BusTicket("Bob", 25, "Kisumu")
ticket3.print_ticket()

Name: John Age: 12 Destination: Nairobi
Name: Jane Age: 18 Destination: Mombasa
Name: Bob Age: 25 Destination: Kisumu

In [16]:
class Item:
  def __init__(self, name, price):
    self.name = name
    self.price = price

class ShopingCart:
  def __init__(self):
    self.items = []

  def add_item(self, item):
    self.items.append(item)

  def remove_item(self, item):
    self.items.remove(item)

  def total_price(self):
    for item in self.items:
      total += item.price

    print(f"Total price: {total}")


item1 = Item("Laptop", 1000)
item2 = Item("Phone", 500)
item3 = Item("Tablet", 300)

sc1 = ShopingCart()
sc1.add_item(item1)
sc1.add_item(item2)
sc1.add_item(item3)

sc1.total_price()

sc1.remove_item(item2)
sc1.total_price()

Total price: 1800
Total price: 1300

In [21]:
class Car:
  def __init__(self, b, m):
    self.brand = b
    self.model = m
    self.started = False

  def start(self):
    self.started = True
    print(f"{self.brand} Car started")

  def stop(self):
    self.started = False
    print(f"{self.brand} Car stopped")


car1 = Car("Toyota", "Camry")
car1.start()

car2 = Car("Honda", "Civic")
car2.start()
car2.stop()

Toyota Car started
Honda Car started
Honda Car stopped

In [23]:
class Student:
  def __init__(self, name, age, grade):
    self.name = name
    self.age = age
    self.grade = grade

  def display(self):
    print(f" Student name is {self.name} , age is {self.age}, grade is {self.grade}")

Students = [Student("Israr", 55, "A"),Student("hania", 5, "B"),Student("Roomesa", 12, "C")]

for s in Students:
  s.display()

 Student name is Israr , age is 55, grade is A
 Student name is hania , age is 5, grade is B
 Student name is Roomesa , age is 12, grade is C