#AI with Python
This is our First Class , and date is 23rd June 2025.
**Welcome to the Course**

#how to print some text in Python

In [2]:
print("This is our first text printing in this course")

This is our first text printing in this course

## Data Types in Python

#Text data
  ## String
#Numbers
  ## whole number (1,2,4...)
    ### integer
  ## fractions
    ### float  ( 1.5, 2.5)

In [3]:
i = 10  # statement
# i is variable
# = is an operator
# 10 is a constant
# 10 is assigned to integer variable i
print(i)  # it is printing value of variable i

10

In [5]:
i = 10
j = 10.5
k ='Israr Ali'

print(type(i))
print(type(j))
print(type(k))

<class 'int'>
<class 'float'>
<class 'str'>

In [10]:
#1. String Textual data
student_name = "Israr Ali" # String - > str
#2. whole number
student_age = 21 # Integer # int
#3. decimal number
student_gpa = 3.87 # float
print(type(student_name))
print(type(student_age))
print(type(student_gpa))
student_name = 3.3
print(student_name)
print(type(student_name))

<class 'str'>
<class 'int'>
<class 'float'>
3.3
<class 'float'>

In [8]:
# boolean data type
#4. status
is_enrolled = False # this is boolean data type
print(type(is_enrolled))
print(is_enrolled)

<class 'bool'>
False

In [13]:
# List data type
#5. collection of values (changeable)
subjects = ['Urdu','English','AI','Python']
print(subjects)
print(type(subjects))

['Urdu', 'English', 'AI', 'Python']
<class 'list'>

In [12]:
# Tuple data type
#6. collection of value (Fixed)
dob = (2013,12,12)
print(dob)
print(type(dob))

(2013, 12, 12)
<class 'tuple'>

In [14]:
# Set data type
#7. collection of values (Unique)
activities = {'sleeping','eating','playing'}
print(activities)
print(type(activities))

{'playing', 'eating', 'sleeping'}
<class 'set'>

In [15]:
# Dictionary data type
#8. key -value pair
profile = {'name':'Israr Ali','age':21,'gpa':3.87}
print(profile)
print(type(profile))

{'name': 'Israr Ali', 'age': 21, 'gpa': 3.87}
<class 'dict'>