#function
functions help organize code into reusable blocks.

- clean
- modular
- reusable

function  = head + body

function head = name+ parameters

In [18]:
def greet(): #function name  # no parameter function
    print('Hello! Students') #function body
    print('How are you?')

def greetwithmsg(msg):
  print(msg)

In [20]:
greetwithmsg("this is my msg") # this is function calling

this is my msg

In [21]:
def add_numbers(num1, num2): # parameter are inside bracket and comma separated
    print(num1 + num2)
def diff_numbers(num1, num2):
    print(num1 - num2)
def mul_numbers(num1, num2):
    print(num1 * num2)
def div_numbers(num1, num2):
    print(num1 / num2)

number1 = int(input("Enter first number: "))
number2 = int(input("Enter second number: "))

operator = input("Enter operator: ")

if operator == '+':
    add_numbers(number1, number2)
elif operator == '-':
    diff_numbers(number1, number2)
elif operator == '*':
    mul_numbers(number1, number2)
elif operator == '/':
    div_numbers(number1, number2)
else:
    print("Invalid operator")

Enter first number: 12
Enter second number: 2
Enter operator: +
14

In [22]:
def add():
  i = 10
  j = 20
  k = i + j
  print(k)

In [23]:
add()

30

In [24]:
def add2(i,j):
  k = i + j
  print(k)

In [29]:
add2(20,30)

50

In [31]:
def add3(i,j):
  k = i + j
  return k

In [33]:
result = add3(5,6)
print(result)

11

In [35]:
def calculate_total_marks(marks_in_math,marks_in_science,marks_in_english,marks_in_computer):
  total_marks = marks_in_math + marks_in_science + marks_in_english + marks_in_computer
  return total_marks

def calculate_percentage(total_marks):
  percentage = (total_marks / 400) * 100
  return percentage

def display_result(student_name, total_marks, percentage):
  print(student_name, "has got", total_marks, "marks in total and peercentage ",percentage )

In [36]:

student_name = input("enter your name : ")

marks_in_math = int(input("enter your marks in math : "))
marks_in_science = int(input("enter your marks in science : "))
marks_in_english = int(input("enter your marks in english: "))
marks_in_computer = int(input("enter your marks in computer: "))

total_marks = calculate_total_marks(marks_in_math,marks_in_science,marks_in_english,marks_in_computer)
percentage = calculate_percentage(total_marks)
display_result(student_name, total_marks, percentage)

enter your name : Israr
enter your marks in math : 45
enter your marks in science : 55
enter your marks in english: 78
enter your marks in computer: 99
Israr has got 277 marks in total and peercentage  69.25

In [39]:
def rectangle_area(length, width):
    area = length * width
    return area

def print_area(length, width):
    area = rectangle_area(length, width)
    print("The area of the rectangle is", area)

length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))

print_area(length, width)

Enter the length of the rectangle: 5
Enter the width of the rectangle: 3
The area of the rectangle is 15.0

In [42]:
def add(x,y): return x+y
def subtract(x,y): return x-y
def multiply(x,y): return x*y
def divide(x,y): return x/y

In [41]:
a = int(input("Enter first number : "))
b = int(input("Enter second number : "))

print("Select operation: For Add [1], For Subtract [2], For Multiply [3], For Divide [4]")
choice = int(input("Enter choice (1/2/3/4) : "))

if choice == 1:
  print("Result: ",add(a,b))
elif choice == 2:
  print("Result: ",subtract(a,b))
elif choice == 3:
  print("Result: ",multiply(a,b))
elif choice == 4:
  print("Result: ",divide(a,b))

Enter first number : 12
Enter second number : 2
Select operation: For Add [1], For Subtract [2], For Multiply [3], For Divide [4]
Enter choice (1/2/3/4) : 3
Result:  24