#List
- Ordered
- Changeable
- Allows Duplicates

In [1]:
subjects = ["Maths", "Python", "AI", "English"]

print(subjects)

['Maths', 'Python', 'AI', 'English']

In [5]:
print(subjects[3])

English

In [6]:
print(subjects[-1])

English

In [7]:
print(len(subjects))

4

In [8]:
subjects[2] = "Java"
print(subjects)

['Maths', 'Python', 'Java', 'English']

In [17]:
subjects.append("AI")
print(subjects)
print(len(subjects))

['Maths', 'Python', 'Java', 'English', 'AI', 'AI', 'AI', 'AI', 'AI']
9

In [21]:
subjects.remove("AI")
print(subjects)

['Maths', 'Python', 'Java', 'English', 'AI']

In [22]:
for subject in subjects:
  print(subject)

Maths
Python
Java
English
AI

#Tuple

- Ordered
- Unchangeable(Immutable)
- Allows Duplicates

In [27]:
dob = (2003, 7, 15)  # year , month , day

print("Data of birth", dob)
print("Birth year", dob[0])
print(len(dob))

Data of birth (2003, 7, 15)
Birth year 2003
3

In [26]:
dob.append(10)
dob[1] = 8
dob.remove(7)

AttributeError: 'tuple' object has no attribute 'append'

#slicing

In [28]:
names = ["A", "B", "C", "D", "E", "F", "G", "H"]

print(names)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [29]:
print(len(names))

8

In [33]:
print(names[-8])

A

In [38]:
print(names[2:5])  # [start : end] # inclusive, exclusive

['C', 'D', 'E']

In [41]:
print(names[4:])

['E', 'F', 'G', 'H']

In [42]:
print(names[:5])

['A', 'B', 'C', 'D', 'E']

In [44]:
print(names[-5:-1])

['D', 'E', 'F', 'G']