#Operators in Python

In [ ]:
name = input("Enter your name: ")

#prices of fruits

price_apple  = 50
price_banana = 20
price_milk = 100

#Quantities purchase
qa = input("Enter quantity of apple : ")
qty_apple = int(qa)
qty_banana = int(input("Enter quantity of banana : "))
qty_milk = int(input("Enter quantity of milk : "))

total_price_apple = qty_apple * price_apple  # * multiply
total_price_banana = qty_banana * price_banana
total_price_milk = qty_milk * price_milk

total_bill_price = total_price_apple + total_price_banana + total_price_milk # + sum


print("Hello ",name, " your Reciept:")
print("Total Bill: ", total_bill_price)

Enter your name: Israr
Enter quantity of apple : 5
Enter quantity of banana : 10
Enter quantity of milk : 3
Hello  Israr  your Reciept:
Total Bill:  750

In [ ]:
print(2+2)
print("2"+"2")
i=1
i = i + 10
i += 10

print(5 <= 5)

4
22
True

In [ ]:
print (True and True)
#میں نے کھانا کھایا اور پانی پیا
print (True or True)
#میں نے کھانا کھایا یا پانی پیا

True

#Types of Operators


1.   Arithmatic operators (+,-, *, / )
2.   Assignment ( =,+=)
3.   Comparison (> , < , <= , >=)
4.   Logical ( and , or , not )
5.   Identity ( is , is not)
6.   Membership operator (in, not in)

In [ ]:
customer_has_ticket = True
customer_has_popcorn = False

can_customer_watch_movie = customer_has_ticket and customer_has_popcorn
print("can watch movie : ",can_customer_watch_movie)

can watch movie :  False

In [ ]:
user_has_wifi_connected = True
user_has_mobile_data_on = False

can_user_join_class = user_has_wifi_connected or user_has_mobile_data_on
print("can join class : ",can_user_join_class)

can join class :  True

In [ ]:
is_present = True

is_not_present = not is_present

print(is_not_present)

False

In [ ]:
username_entered = True
password_entered = True
captcha_passed = False

can_user_login = username_entered and password_entered and not captcha_passed
print("can login : ",can_user_login)

can login :  False

In [ ]:
a = [1,2,3]
b = a
c = [1,2,3]

print(a is b)
print(a is c)

True
False