#Set

- Unordered
- Unique
- Changeable

In [1]:
Courses = {"Python", "Math", "AI", "Math", "Python"}

print(Courses)

{'Math', 'Python', 'AI'}

In [2]:
Courses.add("Deep Learning")

print(Courses)

{'Deep Learning', 'Math', 'Python', 'AI'}

In [3]:
Courses.discard("Python")
print(Courses)

{'Deep Learning', 'Math', 'AI'}

In [9]:
OtherCourses = {"Machine Learning", "Generative AI", "Deep Learning"}
print(OtherCourses)

{'Generative AI', 'Machine Learning', 'Deep Learning'}

In [11]:
CommonCourses = Courses.intersection(OtherCourses)
print(CommonCourses)

{'Deep Learning'}

In [12]:
AllCourses = Courses.union(OtherCourses)
print(AllCourses)

{'Generative AI', 'AI', 'Machine Learning', 'Math', 'Deep Learning'}

In [13]:
diff = Courses.difference(OtherCourses)
print(diff)

{'Math', 'AI'}

In [14]:
print(Courses.issubset(OtherCourses))

False

In [16]:
NewSet = {"AI"}

print(NewSet.issubset(Courses))
print(Courses.issuperset(NewSet))

True
True

#Dictionary

used to store data values in pairs.

In [29]:
student ={
    "name":"Ali",
    "age": 66,
    "grade": "A",
    "subjects": ["Math","Physics","Chemistry"]
}

print(student)

{'name': 'Ali', 'age': 66, 'grade': 'A', 'subjects': ['Math', 'Physics', 'Chemistry']}

In [30]:
print(student["name"])

Ali

In [31]:
print(student["subjects"])

['Math', 'Physics', 'Chemistry']

In [32]:
print(student.get("age"))

66

In [23]:
print(student.get("grade"))

A

In [33]:
student["age"] = 86
print(student.get("age"))

86

In [34]:
del student["grade"]
print(student)

{'name': 'Ali', 'age': 86, 'subjects': ['Math', 'Physics', 'Chemistry']}

In [35]:
#del student
#print(student)

In [36]:
print(student)

{'name': 'Ali', 'age': 86, 'subjects': ['Math', 'Physics', 'Chemistry']}

In [37]:
for key in student:
  print(key)

name
age
subjects

In [38]:
for value in student.values():
  print(value)

Ali
86
['Math', 'Physics', 'Chemistry']

In [40]:
for key, value in student.items():
  print(key, value)

name Ali
age 86
subjects ['Math', 'Physics', 'Chemistry']

In [41]:
student = {
    "name": "Israr",
    "age": 55,
    "marks": {
        "math": 90,
        "science": 80,
        "english": 70
    }
}
print(student)

{'name': 'Israr', 'age': 55, 'marks': {'math': 90, 'science': 80, 'english': 70}}

In [42]:
print(student["name"])

Israr

In [43]:
print(student["age"])

55

In [44]:
print(student["marks"])

{'math': 90, 'science': 80, 'english': 70}

In [47]:
print(student["marks"]["math"])

90

In [48]:
list1 = ["AI", "GI", "ML"]

print(list1[0])

AI

In [51]:
dict1 = {
    "crs1": "AI",
    "crs2": "GI",
    "crs3": "ML"
}

print(dict1["crs1"])

AI

In [52]:
attendace = {
    "student1": [1,1,0,1],
    "student2": [0,1,1,1],
    "student3": [1,1,1,1]
}

print(attendace)

{'student1': [1, 1, 0, 1], 'student2': [0, 1, 1, 1], 'student3': [1, 1, 1, 1]}

In [54]:
for key, value in attendace.items():
  print(key," = > ", value)

student1  = >  [1, 1, 0, 1]
student2  = >  [0, 1, 1, 1]
student3  = >  [1, 1, 1, 1]

In [56]:
for name,record in attendace.items():
  total = sum(record)
  print(name, " attended ", total/ 4 , " days")

student1  attended  0.75  days
student2  attended  0.75  days
student3  attended  1.0  days